.emailModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20vh;
  left: 10%;
  width: 80%;
  height: 45%;
  background: #1B1A55;
  border-radius: 5px;
  border: 1px solid #fff;
}
.closeModalButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 15%;
}
.closeModalButton {
  width: 30px;
  height: 25px;
  background: #FF5757;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.closeModalButton:active {
  background: red;
}

.modalContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 85%;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60%;
}
.nameInput {
  width: 90%;
  height: 20%;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
}
.emailInput {
  width: 90%;
  height: 20%;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
}
.accessButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 25%;
  background: lightseagreen;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.accessButton:active {
  background: lightblue;
}
.errorMessage {
  color: red;
  text-align: center;
}

@media screen and (width > 768px) {
  .emailModal {
    top: 20vh;
    left: 30%;
    width: 40%;
    height: 35%;
  }
  .nameInput {
    width: 55%;
    height: 20%;
  }
  .emailInput {
    width: 55%;
    height: 25%;
  }
  .accessButton {
    width: 55%;
    height: 25%;
  }
}